		p{
		  		font-family: cursive;
		  		font-size: 150%;
		 }
		 h1{
			background-color: darkslateblue;
			text-align: center;
		  }
body{
    background-color: floralwhite;
		} 
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
 